/**
 * Colors
 */
$white: #fff;
$dark-gray: #222;
$coffee: #736458;
$coconut-cream: #fbf9e7;
$silver-sand: #b6babb;
$de-york: #9ad093;
$pale-sky: #6d767f;
$mid-gray: #5b5d61;

@import "node_modules/@wordpress/base-styles/colors";

/**
 * @style: Default
*/
$default-primary-color: $dark-gray;
$default-primary-text-color: $white;
$default-tick-color: #dedab6;
$default-ticked-color: $de-york;
$default-detail-icon-color: $pale-sky;
$default-meta-color: $mid-gray;
$default-heading-color: $dark-gray;

/**
 * @style: Newdesign
*/
$newdesign-primary-color: #ffa921;
$newdesign-primary-text-color: $white;
$newdesign-tick-color: $newdesign-primary-color;
$newdesign-ticked-color: $de-york;
$newdesign-detail-icon-color: $pale-sky;
$newdesign-meta-color: $mid-gray;
$newdesign-heading-color: $dark-gray;

/**
 * @style: Simple
*/
$simple-primary-color: $dark-gray;
$simple-primary-text-color: $white;
$simple-tick-color: #d0d0d0;
$simple-ticked-color: $de-york;
$simple-detail-icon-color: $pale-sky;
$simple-meta-color: $mid-gray;
$simple-heading-color: $dark-gray;

/**
 * @style: Accent Color Header
*/
$accent-color-header-bg-color: #86c7a7;
$accent-color-header-text-color: $white;
$accent-color-header-tick-color: $accent-color-header-bg-color;
$accent-color-header-ticked-color: $accent-color-header-bg-color;
$accent-color-header-detail-icon-color: $accent-color-header-bg-color;
$accent-color-header-meta-color: $white;
$accent-color-header-title-color: $white;
$accent-color-header-image-border-color: $white;
$accent-color-header-print-btn-bg-color: $dark-gray;
$accent-color-header-print-btn-text-color: $white;
$accent-color-header-pinit-btn-bg-color: #c62122;
$accent-color-header-pinit-btn-text-color: $white;
