/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-wpzoom-recipe-card-block-details {
	margin: 0;
	max-width: 750px;
	padding: 20px 0;
	position: relative;
	text-align: left;

	@include recipe-sections-title( inherit, uppercase, "details-title" );

	// Backward compatibility
	@include clear-after;

	.details-items {
		@include clear-after;
	}

	.detail-item-icon {
		display: block;
		&::before {
			color: $dark-gray;
		}
		svg {
			fill: $dark-gray;
		}
	}

	.detail-item-label {
		display: block;
		font-weight: 700;
		margin-bottom: 0;
	}

	.detail-item-value {
		display: inline-block;
		font-size: 15px;
		font-weight: 500;
		line-height: 1.4;
		margin-bottom: 0;
		margin-right: 5px;
	}

	.detail-item {
		float: left;
		line-height: 1.4;
		margin-bottom: 15px;
		position: relative;

		&::after {
			background-color: #ededed;
			bottom: 0;
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 1px;
		}
	}


	/*--------------------------------------------------------------
    # 2 Columns
    --------------------------------------------------------------*/
	&.col-2 .detail-item {
		margin-right: 10%;
		padding-right: 8%;
		width: 40%;
	}

	&.col-2 .detail-item-1,
	&.col-2 .detail-item-3,
	&.col-2 .detail-item-5,
	&.col-2 .detail-item-7,
	&.col-2 .detail-item-9,
	&.col-2 .detail-item-11 {
		margin-right: 0;
		padding-right: 0;

		&::after {
			display: none;
		}
	}

	/*--------------------------------------------------------------
    # 3, 5, 6, 7, 9, 10, 11 Columns
    --------------------------------------------------------------*/
	&.col-3 .detail-item,
	&.col-5 .detail-item,
	&.col-6 .detail-item,
	&.col-7 .detail-item,
	&.col-9 .detail-item,
	&.col-10 .detail-item,
	&.col-11 .detail-item {
		margin-right: 5%;
		padding-right: 5%;
		width: 30%;
	}

	&.col-3 .detail-item-2,
	&.col-3 .detail-item-5,
	&.col-3 .detail-item-8,
	&.col-3 .detail-item-11,
	&.col-5 .detail-item-2,
	&.col-6 .detail-item-2,
	&.col-6 .detail-item-5,
	&.col-7 .detail-item-2,
	&.col-7 .detail-item-5,
	&.col-9 .detail-item-2,
	&.col-9 .detail-item-5,
	&.col-9 .detail-item-8,
	&.col-10 .detail-item-2,
	&.col-10 .detail-item-5,
	&.col-10 .detail-item-8,
	&.col-11 .detail-item-2,
	&.col-11 .detail-item-5,
	&.col-11 .detail-item-8 {
		margin-right: 0;
		padding-right: 0;

		&::after {
			display: none;
		}
	}

	/*--------------------------------------------------------------
    # 4, 8, 12 Columns
    --------------------------------------------------------------*/
	&.col-4 .detail-item,
	&.col-8 .detail-item,
	&.col-12 .detail-item {
		margin-right: 4%;
		padding-right: 3%;
		width: 22%;
	}

	&.col-4 .detail-item-3,
	&.col-4 .detail-item-7,
	&.col-4 .detail-item-11,
	&.col-8 .detail-item-3,
	&.col-8 .detail-item-7,
	&.col-12 .detail-item-3,
	&.col-12 .detail-item-7,
	&.col-12 .detail-item-11 {
		margin-right: 0;
		padding-right: 0;

		&::after {
			display: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.wp-block-wpzoom-recipe-card-block-details {
		.details-items .detail-item {
			width: 46%;
		}
	}
}
